:root {
    scroll-behavior: auto;
  }
/*=============================================
=                  General                    =
=============================================*/

* {
    box-sizing: border-box;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    padding-top: 56px;
}

button:focus {
    outline: none;
}

/*=============================================
=                  Navbar                     =
=============================================*/

.navbar {
    box-shadow: 0 3px 20px rgba(0, 0, 0, .11);
    cursor:hand;
}
.carousel-indicators{
    border-radius: 50%;
}
.navline::after,
#menu .navbar-brand::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background: white;
  margin: 5px 0;
  transition: 0.5s width ease;
}
.navline.active::after,
#menu .navbar-brand.active::after {
  width: 100%;
}
/*=============================================
=                  Header                     =
=============================================*/
/* TODO: 加入背景圖片 */
#header {
    display: flex;
    /* 垂直致中 */
    align-items: center;
    height: calc(100vh - 56px);
    border-radius: 0px;
    margin-bottom: 0px;
    /* 背景圖不佔據大小像是顏色一樣 */
    background-image:url("../img/網頁HEADER.jpg") ;
    /* 大小可能不一致導致會重複銜接 調整大小不要銜接 */
    background-size: cover;
    /* 背景圖跟著視窗大小置中 先左右在上下*/
    background-position: center center;
    /* 固定背景的效果\ */
    background-attachment: fixed;
    padding: 200px 0;
    /* 用filter可以調暗，但裡面的文字一起變暗 */
    /* filter: brightness(.5); */
    position: relative;
}

/* header裡面的CONTAINER 加空格 */
#header .container{
    position: relative;
z-index: 2;
}

#header::after{
    /* 假設要做一個色塊使背景圖變暗 content那一行一定要存在 */
    content: "";
    width: 100%;
    height: 100%;
background: rgb(207, 151, 198);
opacity: 0.3;
/* 因為顯示模式的關係，after是inline元素沒有高度寬度的概念所以要改成block */
display: block;
/* 將小方塊定位到左上角 */
position: absolute;
left: 0;
top: 0;
}

/*=============================================
=                  Intro                      =
=============================================*/
.intro-box {
    border-radius: 15px;
    margin-bottom: 15px;
    transition: all .5s ease-out;
    padding: 15px 15px;
    text-align: center;
}

.intro-box:hover {
    background: white;
    box-shadow: 0px 22px 22px rgb(173, 89, 89);
}

.intro-line {
    width: 20px;
    height: 6px;
    border-radius: 3px;
    margin: 10px auto;
    transition: all .5s ease;
 
}

.intro-box:hover .intro-line {
    width: 40px;
  
}

/*=============================================
=                  Features                   =
=============================================*/


/*=============================================
=                  Gallery                    =
=============================================*/

.gallery-block,
.gallery-text {
    transition: all .5s ease-out;
}

.gallery-block {
    // position: relative;
    background-size: cover;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    filter: grayscale(50%);
    // filter:brightness(0.5);

}

.gallery-text {
   
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 700;
    text-shadow: 0 8px 10px rgba(0, 0, 0, .5);
    text-align: center;
    transform: scale(0.1) rotate(180deg);
    opacity: 0;
    // filter:brightness(0.2);
    // z-index: 2;
//  position:relative;
//     z-index:2;
}

.gallery-block:hover {
    filter: grayscale(100%);
    // filter:brightness(1);
    
}
// .gallery-block:after {
//     // filter: grayscale(100%);
//     filter:brightness(0);
//     // opacity: 1;
//    position:absolute;
//     top:0px;
//     left:0px;
// }


/* 點到block改變的是text */
.gallery-block:hover .gallery-text {
    /* 漸變是值到值所以就算是0也要打出來 */
    // color: #FFFFFF;
    transform: scale(1)  rotate(0deg);
    opacity: 1;
    // filter:brightness(0.8);
}
// #gallertImage0{
//     background-repeat: no-repeat;
//     background-position: center center;
//     background-size: cover;
// }

/* 放入背景圖片 */

#galleryImage1 {
    // background-image: url('../img/web-泰山飯店網站.JPG');
    background-image: url('../img/web-resumerevise.JPG');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#galleryImage2 {
    background-image: url('../img/web-募資網站.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#galleryImage3 {
    // background-image: url('../img/web-blog.JPG');
}

#galleryImage4 {
    background-image: url('../img/web-digiclock-2.JPG');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#galleryImage5 {
    background-image: url('../img/web-api.JPG');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#galleryImage6 {
    background-image: url('../img/web-todolist.JPG');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

#galleryImage7 {
    background-image: url('../img/web-calender.JPG');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#galleryImage8 {
    // background-image: url('../img/最下面8.jpg');
}
#galleryImage9 {
    background-image: url('../img/graphic-cow.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#galleryImage10 {
    background-image: url('../img/graphic-海報.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#galleryImage11 {
    background-image: url('../img/graphic-sticker.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#galleryImage12 {
    background-image: url('../img/graphic-logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#galleryImage13 {
    // background-image: url('../img/跑道透視1p完.png');
}
#galleryImage14 {
    // background-image: url('../img/跑道透視1p完.png');
}
#galleryImage15 {
    background-image: url('../img/land-入口透視p完.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#galleryImage16 {
    background-image: url('../img/land-蕨類區透視p完.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#galleryImage17 {
    background-image: url('../img/land-跑道透視1p完.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}




/*=============================================
=                  Start Now                  =
=============================================*/

/*=============================================
=                   Footer                    =
=============================================*/


footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-end p {
    font-size: 8px;
    margin: 0;
}


/*=============================================
=                   AD-BOX                    =
=============================================*/

.ad-box {
    width: 300px;
    position: fixed;
    right: -275px;
    bottom: 80px;
    z-index: 100;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    display: flex;
    box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.2);
    transition: all .3s ease;
}

.ad-box.active {
    right: 0px;
}

.left-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid #ddd;
}

.ad-toggle-btn {
    width: 25px;
    border: none;
    background-color: transparent;
    color: #333;
    cursor: pointer;
}

.ad-toggle-btn>i {
    transform: rotateZ(90deg);
}

.ad-toggle-btn:hover {
    color: #666;
}

.right-part {
    padding: 10px;
}

.right-part>p{
    margin-bottom: 0;
}

/*=============================================
=                 other                   =
=============================================*/
.opac-1{
    opacity: 1 ;
}
.title{
    // font-family: 'Poiret One', cursive;
    font-family: 'Hi Melody', cursive;
    font-size:48px;
}


  /*--------------------------------------------------------------
  # Resume
  --------------------------------------------------------------*/
.resume-title {
    font-size: 26px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    // color: #4b7dab;
    font-family: "Poppins", sans-serif;
  }
  
.resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #dac381;
    position: relative;
  }
  
.resume-item>h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    color: #2c4964;
    margin-bottom: 10px;
    justify-content: space-around;
  }
  
.resume-item>h5 {
    font-size: 16px;
    color: #FFFFFF;
    background: #2c4964;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
  }
  
.resume-item>ul {
    padding-left: 20px;
  }
  
.resume-item>ul,.resume-item>li {
    padding-bottom: 10px;
  }
  
.resume-item:last-child {
    padding-bottom: 0;
  }
  
.resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #bd7b81;
    border: 2px solid #dac381;
  }
  .text-blue{
    // color: #2c4964;
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;

  }


    /*--------------------------------------------------------------
  #goBackBtn
  --------------------------------------------------------------*/
  #goBackBtn {
    width: 40px;
    height: 40px;
    border:none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1000;
    border-radius: 50%;
}
 
